@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap');
  



  :root{
    --fonte-principal: 'Montserrat',sans-serif;
    --cor-azul: #004CA2;
    --cor-laranja: #FC6435;

  }
  /* body{
    background: url(/assets/background.png) center center;
    background-size: cover;
  } */

header {
  display: flex;
  position:fixed;
  align-items: center;
  justify-content: space-between;
  background-color: var(--cor-azul);
  height: 60px;
  width: 100%;
  box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  z-index: 10;
}

.hamburger-menu{
  display: none;
}

.logos{
  display: grid;
  grid-template-columns: 120px 100px;
  align-items: center;
}

.logo img {
  width: 100px;
  height: auto;
}

.logo2 img {
    width: 100px;
  height: auto;
  margin-right: auto;
}
  
nav ul {
  list-style-type:none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

nav ul li {
  margin-left: 10px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-family: var(--fonte-principal);
  font-weight: 400;
  -webkit-transition: -webkit-transform .5s ease;
  transition: transform .5s ease;
}

nav ul li a:hover {
  text-decoration: underline;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}


/* Estilos para o dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--cor-azul);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  animation-name: dropdown-animation;
  animation-duration: 0.3s;
  transform-origin: top;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  margin-bottom: 5px; 
}

.dropdown:hover .dropdown-content,
.dropdown:focus-within .dropdown-content {
  display: block;
}

@keyframes dropdown-animation {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}

.laranja{
    background-color: #FC6435 ;
    width: 100%;
    height: 70px;
}
.laranja2{
  background-color: #FC6435 ;
  width: 100%;
  height: 10px;
 
}

.banner{
  width: 100%;
}
.banner2{
  width: 100%;
  display: none;
}
 .banner3{
  width: 100%;
 }

 #sobreGo{
  width: 100%;
  height: 30px;
 }

 #labsGo{
  width: 100%;
  height: 30px;
}
 #perguntasGo{
  width: 100%;
  height: 30px;
}
  article{
    display: flex;
    flex-wrap: wrap;
  }

  article div{
    background-color: #E5F1FF;
    width: 1200px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);;
    overflow: auto;

  }

  article h1{
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--cor-azul);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
  }

  article p{
    color: black;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 26px;
    padding: 10px;
    text-align: justify;
  }

  main{
    width: 1150px;
    margin: 0 auto;
  }

  main h1{
    font-family: var(--fonte-principal);
    font-weight: 600;
    color: var(--cor-azul);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  .box {
    width: 500px;
    height: 300px;
    margin: 25px auto ;
    text-align: left;
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
  }
  .box:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .box img {
    width: 500px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .caption {
    padding: 10px;
    color: white;
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 40px;
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .box2 {
    width: 1075px;
    height: 300px;
    margin: 25px auto ;
    text-align: left;
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
  }
  .box2:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .box2 img {
    width: 1075px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .box3 {
    width: 1075px;
    height: 300px;
    margin: 25px auto ;
    text-align: left;
    position: relative;
    z-index: 1;
    -webkit-transition: -webkit-transform .5s ease;
    transition: transform .5s ease;
  }
  .box3:hover{
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  .box3 img {
    width: 1075px;
    height: 300px;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }





  section{
    background-color: var(--cor-azul);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1200px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 25px;
    padding: 20px;
    display: grid;
    gap: 15px;
  }
  section h1{
    font-family: var(--fonte-principal) ;
    font-weight: 800;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;

  }
  section h2{
    font-family: var(--fonte-principal) ;
    font-weight: 800;
    color: var(--cor-azul);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;
  }

  section p{
    color: black;
    font-family: var(--fonte-principal);
    font-weight: 400;
    font-size: 26px;
    padding: 10px;
    text-align: justify;
  }
  
  .texto_destaque{
    color: black;
    font-family: var(--fonte-principal);
    font-weight: bold;
    font-size: 26px;
    padding: 10px;
    text-align: justify;
    margin-top: 0%;
    position: relative;
    bottom: 15px;
  }

  .faq1{
    background-color: #F3F6F9;
    width: 1100px;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .faq2{
    background-color: #F3F6F9;
    width: 1100px;
    height: 250px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .faq3{
    background-color: #F3F6F9;
    width: 1100px;
    height: 250px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);;
  }

  .faq4{
    background-color: #F3F6F9;
    width: 1100px;
    height: 200px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);;
  }


  .footer{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
    background-color: var(--cor-azul);
    height: 300px;
    width: 100%;
    margin-top: 50px;
    background-color: var(--cor-azul);
    
  }

  .footer div{
    
    display: grid;
  }

  

  .contact{
    grid-row: 1/2;
    grid-column: 1/2;
    display: grid;
    grid-template-rows: auto auto;
  }

  .contact h1{
    grid-row: 1/2;
    color: white;
    font-size: 50px;
    justify-self: start;
    margin-left: 20px;
  }

  .contact p{
    color: white;
    font-size: 25px;
    grid-row: 2/3;
    justify-self: start;
    margin-left: 50px;
    margin-top: -40px;
   
  }

  .mail{
    grid-column: 1/2;
    grid-row: 2/2;
    display: grid;
    grid-template-columns: 75px auto;
    margin-left: 25px;
  }

  .mail img{
    align-self: center;

  }

  .mail p{
    color: white;
    align-self: center;
    font-size: 20px;

  }

  .location{
    grid-column: 1/2;
    grid-row: 3/3;
    display: grid;
    grid-template-columns: 75px auto;
    margin-left: 25px;
  }

  .location img{
    align-self: center;

  }

  .location p{
    color: white;
    align-self: center;
    font-size: 20px;

  }



  .institucional{
    grid-row: 1/3;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 33% auto auto;
    margin-top: 10px;
    width: auto;
  }

  .institucional img{
    grid-column: 2/3;
    justify-self: end;
    width: auto;
  }

  .institucional h1{
    color: white;
    justify-self: center;
    width: auto;
  }

  .institucional ul{
    color: white;
    grid-column: 3/3;
    grid-row: 2/2;
    justify-self: center;
    margin-top: -80px;
    font-size: 20px;
    width: auto;
  }

  .footerbaixo{
    display: grid;
    grid-template-columns: 30% auto;
    height: 80px;
  }


  
 



  .footer2{
    background-color: #182c3c;
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    height: 80px;
  }

  .insta{
    display: grid;
    grid-template-columns: 70px auto;
  }

  .insta h2{
    align-self: center;
  }

  .insta img{
    align-self: center;
  }

  .footer2 div{
    align-self: center;
    justify-self: center;
  }



  .footer2 h2{
    color: white;
    font-size: 25px;
  }
  
  .footer3{
    background-color: #de003c;
    grid-column: 1/2;
    grid-row: 3/4;
    display: grid;
    height: 80px;
    
  }

  .logofooter{
    align-self: center;
    justify-self: center;
  }
 
  .logofooter img{
    grid-column: 1/3;
    grid-row: 1/3;
    width: 150px;
    
  
  }

  

















@media (max-width: 1200px){


  nav{
    display: none;
  } 

  main{
    width: auto;
  }

  
  .article{
    width: auto;
  }

  .article div{
    width: auto;
    margin: 0;
  }

  section{
    width: auto;
  }

  .faq1{
    width: auto;
    height: auto;
  }

  .faq2{
    width: auto;
    height: auto;
    margin: 0;
  }

  .faq3{
    width: auto;
    height: auto;
  }

  .faq4{
    width: auto;
    height: auto;
  }

  .container{
    width: auto;
  }
  
  .banner-celular{
    display: flex;
  }


  .hamburger-menu{
    display:contents;
  }
  
  #menu__toggle {
    opacity: 0;
  }
  
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  
  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
    right: unset;
  }
  
  .menu__btn {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
  }
  
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    left: -300px; /* Altere o valor para ajustar a largura do menu */
    width: 250px;
    height: 100%;
    margin: 0;
    padding: 30px 30px;
    list-style: none;
    background-color: var(--cor-azul);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
    transition-duration: 0.25s;
  }

  .menu__box img{
      width: 170px;
    
  }
  .alinhamento-logo{
    padding-bottom: 20px;
    padding-left: 10px;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  
  .menu__item:hover {
    background-color: #cfd8dc;
  }
  
  .article{
    width: auto;
    height: auto;
  }

  .article p{
    font-size: 12px;
 
  }
 
  article h1{
    font-weight: 600;
   
  }

  article p{
    font-weight: 400;
    font-size: 18px;
  }

  .box2 {
    width: 500px;
    height: 300px;
  }
  
  
  .box2 img {
    width: 500px;
    height: 300px;
  }

  
  body p{
    font-size: 15px;
  }

  body h1{
    font-size: 25px;
  }
}















@media (max-width: 600px){

  

  .logos{
    grid-template-columns: 90px auto;
  }

  .logo img {
    width: 75px;
  }
  
  .logo2 img {
      width: 75px;
  }

  .banner{
    display: none;
  }

  .banner2{
    width: 100%;
    display: flex;
  }

  container {
    display: grid;
  }
  
  .box {
    width: 350px;
    height: 200px;
    margin: 15px auto ;
  }
 
  .box img {
    width: 350px;
    height: 200px;
  }

  .box2 {
    width: 350px;
    height: 200px;
    margin: 15px auto ;
  }
 
  .box2 img {
    width: 350px;
    height: 200px;
  }

  .caption {
    padding: 10px;
    color: white;
    font-family: var(--fonte-principal);
    font-weight: 800;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    text-align: left;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  section h1{
    font-size: 20px;
  }

  section p{
    font-size: 15px;
  }

  .texto_destaque{
    font-size: 15px;
  }

  .footer{
    height: 250px;
  }

  .contact h1{
    font-size: 25px;
  }

  .contact p{
    font-size: 15px;
  }

  .mail{
    margin-top: -50px;
    grid-row: 3/3;
  }

  .mail img{
    width: 25px;
  }

  .mail p{
    font-size: 15px;
    margin-left: -25px;
  }

  .location{
    margin-top: -50px;
    grid-row: 2/2;
  }

  .location img{
    width: 25px;
  }

  .location p{
    font-size: 15px;
    margin-left: -25px;
  }

  .insta h2{
    font-size: 15px;
  }

  .insta img{
    width: 40px;
    margin-left: 10px;
  }

  .institucional h1{
    margin: 0;
    font-size: 20px;
  }

  .institucional ul{
    font-size: 15px;
    grid-column: 2/2;
    grid-row: 2/2;
    margin: 0;
    margin-top: -50px;
  }

  .institucional img{
    grid-column: 1/2;
    width: 50px;
    margin-left: -20px;
    
  }

  .logofooter img{
    width: 150px;
  }

  .footerbaixo{
    grid-template-columns: 40% auto;
  }




}

